dist: bionic

jobs:
  include:
    - language: python
      python: 3.7
      cache:
        directories:
          - env
      before_install:
        - cd backend
        - openssl aes-256-cbc -K $encrypted_9e09dc4a4da7_key -iv $encrypted_9e09dc4a4da7_iv -in serviceAccountKey.json.enc -out serviceAccountKey.json -d
        - ./create_env.sh
        - source activate env
      install:
        - pip install -r requirements.txt
        - pip install -r requirements-dev.txt
      script:
        - python -m pytest
      deploy:
        provider: heroku
        app: meeting-scheduler-backend
        api_key:
          secure: "VNb8TngMkRFev2MFB4F+S36eiRwxu/h7rMU85epbNHOtaHlVzly2XtX648sxCzQH9IKflTl+w/b8705eNAngpeZkKlSBKJCj4E7pTIFepXyjnlRMWIIxyjWkjyeMU21BohkgoRwTk1iUYRTSRh2SikjIOA7J89A/aIjoAvNQT0OD6zX5UK4taTwWpGopotkGS++QkgJSD+wZpSYvZeI3lNdK7IngHaTmYi/ec+jvLZbWfjCUIXE1Ww3rpX/CN3vUV4t0pszSQ3KIKxRaMdjESVbvki6KjwskIr8WV1tCxMgbSjHNXBtLamcucSlHles31ZXJyj/ID6kpWxmxfwBKqVW/najtoYsXX0yZ763BBJGFXHiH8tA1rhWlDArQoVOpXPJWm7/4eiGdggvNaAl2ibv8uga+h2khsNYGgLq2shEPkjOUKDZL8XbbDmts366n9mEqb7NZ9L1O/drMZx9tp1WuTYYiCrLPzJIE9E8z8+dtSR2YAY+msarhwMVrH/or7ojGYArn10YqT+k+8nshL365zzAeZcbooTJnYX85781kthBDpXDPoPQQvPpvR3wAD3JkV4w9RlwB95zl4Y0DHqdZw549jZ1GYioIv/MJyCuZijIh4BbSAI9tTgx7MaafT0HjLvPo/ztcO2f/BQrBtulIHbkOMxI+/+ghx4/nUF8="
        strategy: git
      on:
        branch: master
      after_deploy:
        - ./run_app.sh

    - language: node_js
      node_js:
        - 'node'
        - 'lts/*'
      cache:
        directories:
          - node_modules
      before_install:
        - cd frontend
      install:
        - npm install
      script:
        - npm run build
      deploy:
        provider: heroku
        app: meeting-scheduler-frontend
        api_key:
          secure: "VNb8TngMkRFev2MFB4F+S36eiRwxu/h7rMU85epbNHOtaHlVzly2XtX648sxCzQH9IKflTl+w/b8705eNAngpeZkKlSBKJCj4E7pTIFepXyjnlRMWIIxyjWkjyeMU21BohkgoRwTk1iUYRTSRh2SikjIOA7J89A/aIjoAvNQT0OD6zX5UK4taTwWpGopotkGS++QkgJSD+wZpSYvZeI3lNdK7IngHaTmYi/ec+jvLZbWfjCUIXE1Ww3rpX/CN3vUV4t0pszSQ3KIKxRaMdjESVbvki6KjwskIr8WV1tCxMgbSjHNXBtLamcucSlHles31ZXJyj/ID6kpWxmxfwBKqVW/najtoYsXX0yZ763BBJGFXHiH8tA1rhWlDArQoVOpXPJWm7/4eiGdggvNaAl2ibv8uga+h2khsNYGgLq2shEPkjOUKDZL8XbbDmts366n9mEqb7NZ9L1O/drMZx9tp1WuTYYiCrLPzJIE9E8z8+dtSR2YAY+msarhwMVrH/or7ojGYArn10YqT+k+8nshL365zzAeZcbooTJnYX85781kthBDpXDPoPQQvPpvR3wAD3JkV4w9RlwB95zl4Y0DHqdZw549jZ1GYioIv/MJyCuZijIh4BbSAI9tTgx7MaafT0HjLvPo/ztcO2f/BQrBtulIHbkOMxI+/+ghx4/nUF8="
        strategy: git
        project: ./dist/
      on:
        branch: master
