body {
  padding-top: 40px;
}


.with-margin {
  margin-bottom: 20px;
}

.with-margin-small {
  margin-bottom: 10px;
}

.with-margin-large {
  margin-bottom: 30px;
}

.counts{
 	border: none;
}

table {
	/*border: 1px solid black;*/
	width: 100%;
	max-width: 100%;
  	table-layout: fixed;
  	display: table;
  	border-bottom: none

} 
 th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
}

td {
	display: table-cell;
}

.name {
	width: 100%;
}



